### Data Types

In [ ]:
x=10
type(x)

In [ ]:
x=10.5
type(x)

In [ ]:
z="latha"
type(z)

In [ ]:
z=True
type(z)

In [ ]:
z=False
type(z)

In [ ]:
z=true
type(z)

In [7]:
z="True"
type(z)

str

In [4]:
### Variables 
names=["Aarthi","Ramya","Anand"]
names

['Aarthi', 'Ramya', 'Anand']

In [ ]:
Names=["Aarthi","Ramya","Anand"]
Names

In [ ]:
3names=["Aarthi","Ramya","Anand"]
3names

In [ ]:
n3ames=["Aarthi","Ramya","Anand"]
n3ames

In [ ]:
name+list=["Aarthi","Ramya","Anand"]
name+list

In [ ]:
names_list=["Aarthi","Ramya","Anand"]
names_list

In [ ]:
_names=["Aarthi","Ramya","Anand"]
_names

In [ ]:
name=["Aarthi","Ramya","Anand"]
Name

In [ ]:
name list=["Aarthi","Ramya","Anand"]
name list

In [ ]:
#### Variable can start with A-Z,a-z,_
#### Variable name should not start with a number
#### The only allowed special character is underscore
#### Case sensitive
#### Space is not allowed